@font-face {
    src: url(Letras/Peter\ Quincy\ Sans.otf);
    font-family: "nav";
}

body {
    background-color: antiquewhite;
}

/* Logo */
.header img {
    width: 300px;
}

/* Fondo del nav */
.colheader {
    background-image: url(Imagenes/fondopeque.jpg);
    background-color: rgba(255, 166, 0, 0.534);
    background-size: 230px;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    padding-bottom: 50px;

}

/* Botones del nav */
.botones,a {
    background-color: #FFF9EF;
    color: #F68411;
    border: 0px;
    /* font-family: nav; */
    font-weight: bold;
    text-decoration: none;
}

.botones:hover {
    background-color: #b2e95e;
    color: #F68411;
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    background-color: #b1e95e89;
}

.nav ul li a:hover {
    background-color: #b2e95e;
    color: #F68411;
}

/* Botones de offcanvas */
.botonnav {
    background-color: white;
    color: #F68411;
    padding-bottom: 8px;
}

.botonnav:hover {
    background-color: #b2e95e;
}

.dropdown-item {
    background-color: #FFF9EF;
    color: #F68411;
    border: 0px;
    font-family: nav;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #b2e95e;
    color: #F68411;
}

/* Fondo blanco transparente de las secciones */
.desta {
    background-color: rgba(255, 255, 255, 0.356);
}

/* Titulo de secciones */
h1 {
    color: #F68411;
    text-decoration: underline;
    font-size: 30px;
    padding-left: 20px;
}

/* Tarjetas de productos mas vendidos */
.anuncio h5 {
    color: #F68411;
    text-align: center;
}

.anuncio p {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px
}

/* Seccion de categorias */
.categ img{
    border: solid 1px #F68411;
}

.categ img:hover{
    transform: scale(1.1);
}

/* Footer */
.footer{
    background-image: url(Imagenes/fondopeque.jpg);
    background-size: 300px;
    filter: opacity(10px);
}
.datosubi{
    background-color: rgba(255, 255, 255, 0.74);
}

.datosubi li a{
    background-color: rgba(255, 255, 255, 0);
}
.footer h3,h4{
    color: #F68411;
    text-decoration: underline;
}

.footer li a,p{
    color: rgba(0, 0, 0, 0.777);
    font-weight: bold;
    margin: 0px;
}

.footer li a:hover{
    text-decoration: underline;
}

.iconsw{
    color:green ;
}

.iconsf{
    color: blue;
}

.iconsi{
    color: purple;
}

.icons span svg:hover{
    transform: scale(1.2);
}

/* Politica de privacidad */
.polipriva h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.polipriva h5{
    margin-left: 20px;
    color: #ed9f51;
}

.polipriva p{
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Condiciones de compra*/
.condcomp h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.condcomp h5{
    margin-left: 20px;
    color: #ed9f51;
}

.condcomp p{
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Formulario de contacto */
.formcontac label p,.formcontac .gen p{
    color: #ed9f51;
}

.formcontac .check label{
    color: #ed9f51;
    font-weight: bold;
    text-decoration: underline;
}

.formcontac button{
    color: #F68411;
    border: solid 1px #F68411;
    font-weight: bold;
}

.formcontac button:hover{
    background-color: #f6841161;
    color: #F68411;
}

/* InfoAlergias */
.alerali h2{
    color: #F68411;
    text-decoration: underline;
}

.alerali p{
    margin-left: 10px;
    color: rgba(41, 40, 40, 0.878);
}

.alerali h5{
    margin-left: 20px;
    color: #F68411;
}

.aleimg{
    width: 1000px;
}

/* Conocenos */
.conocenos h2,h5{
    /* margin-left: 20px; */
    color: #ed9f51;
}

.conocenos p{
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Pagina inicio de  */

.inises{
    background-color: rgba(234, 194, 149, 0.455);
    border: solid 1px black; 
    border-radius: 10%;
    width: 400px; 
    height: 300px;
}

.inises h2{
    color: #F68411;
    border-bottom: solid 1px rgb(220, 133, 27);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.inises label{
    color: #f68411a1;
    font-weight: bold;
    font-size: 18px;
}

.form-check label{
    font-size: 14px;
}

.form-check input{
    width: 16px;
}

.inises button{
    color: #F68411;
    border: solid 1px #F68411;
    font-weight: bold;
}

.inises button:hover{
    background-color: #f6841161;
    color: #F68411;
}

.inises p a{
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    color: #f6841180;
}

.inises p a:hover{
    color: #f68411;
}

/* Formulario de registro */
.registro{
    background-color: rgba(234, 194, 149, 0.455);
    border: solid 1px black; 
    border-radius: 10%;
    width: 900px; 
    height: auto;
}

.registro h2{
    color: #F68411;
    border-bottom: solid 1px rgb(220, 133, 27);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.registro label{
    color: #f68411a1;
    font-weight: bold;
    font-size: 18px;
}

.registro button{
    color: #F68411;
    border: solid 1px #F68411;
    font-weight: bold;
}

.registro button:hover{
    background-color: #f6841161;
    color: #F68411;
}

.regi2 p{
    color: black;
}

.regi2 p a{
    color: #f6841194;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}